body{
    background-color: #404040;
    color: white;
    height: 100vh; 
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(rgb(10, 10, 10), grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 1px 1px 5px white;
}
h1{
    font-size: 30px;
    color: grey;
    text-shadow: 0.5px 0.5px 3px white;
}
button{
    padding: 15px;
    font-size: 15px;
    border-radius: 25px;
    background-color: #04d9ff;
    box-shadow: 2px 2px 15px #02c5e7;
    border: none;
    color: white;
    font-weight: 600;
    transition: all 0.2s ease ;
}
button:hover{
    transform: scale(1.025);
    box-shadow: 2px 2px 20px #02c5e7;
}
button:active{
    transform: scale(1);
}
img{
    height: 420px;
    width: 350px ;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.5px solid gray;
    border-radius: 5px;
    margin-top: 20px;
}
p{
    color: black;
    font-weight: 600;
}